.place__paragraph {
  max-width: 484px;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}

.place__paragraph:nth-child(n+2) {
  margin-top: 26px;
}

@media all and (max-width: 1023.9px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media all and (max-width: 767.9px) {
  .place__paragraph {
    margin: 0 16px;
  }

  .place__paragraph:nth-child(n+2) {
    margin-top: 25px;
  }
}
