.intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  max-width: 984px;
  min-height: 429px;
  margin: 92px auto 92px;
}

@media all and (min-width: 1024px) and (max-width: 1279.99px) {
  .intro {
    max-width: 928px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023.9px) {
  .intro {
    max-width: 720px;
    min-height: 429px;
    margin: 88px auto 88px;
  }
}

@media all and (min-width: 320px) and (max-width: 767.9px) {
  .intro {
    max-width: 288px;
    min-height: 754px;
    margin: 64px auto 64px;
  }
}
