.cover {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../../images/backgroung-cover.png);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  object-fit: cover;
  z-index: 2;
}

.cover::before {
  content:'';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: 1;
}

.cover:hover::before {
  opacity: 0.8;
  transition: 1.7s;
}

@media all and (min-width: 1024px) and (max-width: 1279.9px) {
  .cover {
    max-width: 1124px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023.9px) {
  .cover {
    max-width: 768px;
  }
}

@media all and (min-width: 320px) and (max-width: 767.9px) {
  .cover {
    max-width: 320px;
  }
}

